<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxjl.brain.police.repository.mapper.RegistUserMapper">
        <insert id="insertUser" parameterType="com.kxjl.brain.police.dto.wx.RegistUserDTO" >

                <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
                        SELECT TD_WECHATREGISTER_SEQ.NEXTVAL FROM DUAL
                </selectKey>
                INSERT INTO TD_WECHATREGISTER(
                    id,
                    openid,
                    name,
                    sex,
                    telephone,
                    idcard
                )
                VALUES (
                    #{id},
                    #{openid},
                    #{name},
                    #{sex},
                    #{telphone},
                    #{idcard}
                )
        </insert>


        <select id="queryRegistUser" parameterType="java.lang.String" resultType="com.kxjl.brain.police.dto.wx.RegistUserDTO">
                SELECT
                  openid,
                  name,
                  sex,
                  telephone telphone,
                  idcard
                FROM TD_WECHATREGISTER wr
                WHERE wr.openid=#{openid}
        </select>
</mapper>