<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxjl.brain.police.repository.mapper.TestMapper">
        <insert id="insert" parameterType="com.kxjl.brain.police.repository.bean.TestObject">
                <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
                        SELECT SEQ_TD_WKO_TAG.NEXTVAL FROM DUAL
                </selectKey>
                INSERT INTO td_wko_tag(id,busid,name) VALUES (#{id},#{busId},#{name})
        </insert>
</mapper>